.word-animation {
  transition: transform 0.3s ease, color 0.3s ease;
}

.word-animation.active {
  transform: scale(1.2);
  color: #ff5722; /* Change to your desired active color */
}
.word-animation.actived {
  color: #c90; /* Change to your desired completed color */
}
.week-plan-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.screenIntro{
  position: fixed; top: 20.33%; left: 50%; transform: translateX(-50%);
}
.screen{
  position: fixed; inset: 0;
}
.fade-element {
  transition: opacity 0.5s ease-in-out; /* Smooth transition for opacity */
}

.visible {
  opacity: 1;
}

.hidden {
  opacity: 0;
}
.runscreen{
    position: absolute;
    inset: 0;
     background: 
        url(http://localhost:3000/img/blue-sky2.jpeg) no-repeat center center, linear-gradient(135deg, #80deea, #7DEFFF);
    background-size: cover; /* Make the image cover the entire area */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
}
#screens{
      background: url(''), linear-gradient(135deg, #80deea, #7DEFFF);
}