.word-animation {
  transition: transform 0.3s ease, color 0.3s ease;
}

.word-animation.active {
  transform: scale(1.2);
  color: #34d399; /* Change to your desired active color */
}
.word-animation.actived {
  color: #c90; /* Change to your desired completed color */
}
.week-plan-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
